.gr-form-control {
  height: 33px;
  display: inline;
  width: auto;
}

.gr-blog-title {
  font-weight: bold;
}

.gr-row-buttons {
  float: right;
}

.gr-datetime {
  width: auto;
  display: inline;
}

.gr-hotkey:first-letter {
  text-decoration: underline;
}

.gr-forgot-password-link {
  position: relative;
  top: -11px;
}

.gr-alert {
  float: none;
}


/* Profile View */
.gr-not-verified {
  color: orange;
}
.gr-verified {
  color: green;
}

.gr-vertical-space {
  height: 10px;
}

.gr-verify-email {
  position: relative;
  top: -5px;
}

.gr-datetime-btn {
  width: auto;
}

.gr-input-group {
  width: 100%;
}

@media (min-width: 500px) {
  .gr-input-group {
    width: auto;
  }
  .gr-form-group {
    width: auto;
  }
  .gr-input-group-addon {
    width: auto;
  }
}

.gr-designer-form {
  width: 100%;
  height: 100%;
}

.gr-fill-container {
  height: 100%;
}
.gr-fill-parent {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.gr-fill {
  flex: 1 1 auto;
}

.gr-toolbox {
  border-bottom: 1px solid black;
}

.gr-designer-footer {
  border-top: 1px solid black;
}

.gr-form-help {
  text-align: center;
  font-size: 200%;
  vertical-align: middle;
}

.gr-toolbox {
  display: flex;
}

.gr-toolbox-control {
  margin-left: 10px;
  margin-bottom: 1px;
  width: 200px;
}

.gr-toolbox-label {
  text-align: center;
}

.gr-toolbox-control > input,textarea {
  cursor: default !important;
}

.gr-textarea-field {
  resize: none;
}