.gr-form-control {
  height: 33px;
  display: inline;
  width: auto;
}

.gr-blog-title {
  font-weight: bold;
}

.gr-row-buttons {
  float: right;
}

.gr-datetime {
  width: auto;
  display: inline;
}

.gr-hotkey:first-letter {
  text-decoration: underline;
}

.gr-forgot-password-link {
  position: relative;
  top: -11px;
}

.gr-alert {
  float: none;
}


/* Profile View */
.gr-not-verified {
  color: orange;
}
.gr-verified {
  color: green;
}
@media (min-width: 500px) {

}

.gr-vertical-space {
  height: 10px;
}

.gr-verify-email {
  position: relative;
  top: -5px;
}

.gr-datetime-btn {
  width: auto;
}
