<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4" id="placeForAlert">
    </div>
  </div>

  {{#if editBlogTitle}}
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group" id="inputTitleFormGroup">
        <input class="form-control gr-form-control" id="inputTitle" type="text" value="{{title}}"/>
        <button class="btn btn-primary" onclick="saveBlogTitleChange();">Accept</button>
        <button class="btn btn-primary" onclick="cancelBlogTitleChange()">Cancel</button>
      </div>
    </div>
  </div>

  {{else}}
  <div class="row">
    <div class="col-mid-12 col-lg-12">
      <div class="form-group" id="inputTitleFormGroup">
        <span class="gr-blog-title">{{title}}</span>
        <button class="btn btn-primary" onclick="editBlogTitle();">Edit Name</button>
      </div>
    </div>
  </div>
  {{/if}}

  <button class="btn btn-primary" onclick="addPost();">Add Post</button>
  <table class="table table-hover">
    <tbody>
      {{#each postList}}
      <tr>
        {{!-- if editing post --}}
        {{#if edit}}
        <td>
          <input id="postdomid" type="hidden" value="{{domID}}"/>
          <input id="postpostid" type="hidden" value="{{postID}}"/>
          <input id="postdate" type="hidden" value="{{dateString}}"/>
          <input id="postblogid" type="hidden" value="{{blogID}}"/>
          <input id="postuserid" type="hidden" value="{{userID}}"/>
          <div><strong>Edit</strong></div>
          <div><input id="posttitle" type="text" style="width:100%;box-sizing:border-box;" value="{{title}}"/></div>
          <div><textarea id="posttext" rows="5" style="width:100%;box-sizing:border-box;">{{text}}</textarea></div>
          <div><input id="postdateonly" type="date" value="{{dateOnly}}"/><input id="posttimeonly" type="time" value="{{timeOnly}}"/></div>
        </td>
        <td>
          <div><span><button class="fillerbutton">Here</button></span><span class="listbutton"><button class="savebutton" onclick="savePostChanges('{{domID}}');">Accept</button><button class="savebutton" onclick="cancelPostChanges('{{domID}}');">Cancel</button></span></div>
        </td>

        {{else}}
        <td>
          <div><strong>{{title}}</strong></div>
          <div>{{{encodeText text}}}</div>
          <div>{{dateString}}</div>
        </td>
        <td>
          <button class="btn btn-primary" onclick="editPost('{{domID}}');">Edit</button>
          <button class="btn btn-primary" onclick="deletePost('{{domID}}');">Delete</button>
        </td>
        {{/if}}

      {{/each}}
      </tr>
    </tbody>
  </table>
</div>
