<div class="postlist">
  {{!-- editing blog title --}}
  {{#if editBlogTitle}}
  <div><input id="blogtitle" type="text" class="field" value="{{title}}"/></div>
  <div><span><button class="fillerbutton">Here</button></span><span class="listbutton"><button class="savebutton" onclick="saveBlogTitleChange();">Accept</button><button class="savebutton" onclick="cancelBlogTitleChange()">Cancel</button></span></div>
  {{!-- not editing blog title --}}
  {{else}}
  <div class="blogtitlebox"><strong class="blogtitle">{{title}}</strong><button onclick="editBlogTitle();">Edit</button></div>
  {{/if}}
  <div id="blogmessage"></div>
  <button onclick="addPost();">Add Post</button>
  {{!-- each post --}}
  {{#each postList}}
  <div class="post">
  {{!-- if editing post --}}
  {{#if edit}}
    <input id="postdomid" type="hidden" value="{{domID}}"/>
    <input id="postpostid" type="hidden" value="{{postID}}"/>
    <input id="postdate" type="hidden" value="{{dateString}}"/>
    <input id="postblogid" type="hidden" value="{{blogID}}"/>
    <input id="postuserid" type="hidden" value="{{userID}}"/>
    <div><strong>Edit</strong></div>
    <div><input id="posttitle" type="text" style="width:100%;box-sizing:border-box;" value="{{title}}"/></div>
    <div><textarea id="posttext" rows="5" style="width:100%;box-sizing:border-box;">{{text}}</textarea></div>
    <div><input id="postdateonly" type="date" value="{{dateOnly}}"/><input id="posttimeonly" type="time" value="{{timeOnly}}"/></div>
    <div><span><button class="fillerbutton">Here</button></span><span class="listbutton"><button class="savebutton" onclick="savePostChanges('{{domID}}');">Accept</button><button class="savebutton" onclick="cancelPostChanges('{{domID}}');">Cancel</button></span></div>
  {{!-- not editing post --}}
  {{else}}
    <div><strong>{{title}}</strong><span class="listbutton"><button onclick="editPost('{{domID}}');">Edit</button><button onclick="deletePost('{{domID}}');">Delete</button></span></div>
    <div>{{{encodeText text}}}</div>
    <div>{{dateString}}<button class="hiddenbutton">Button to float against</button></div>
  {{/if}}
  </div>
  {{/each}}
</div>
