<div class="container">
  <button class="btn btn-primary" onclick="addBlog();">Add Blog</button>
  <table class="table table-hover">
    <tbody>
      {{#each list}}
      <tr>
        <td>
          <strong>{{title}}</strong>
        </td>
        <td>
          <span style="float:right;">
            <button class="btn btn-primary" onclick="editBlog('{{domID}}');">Edit</button>
            <button class="btn btn-primary" onclick="deleteBlog('{{domID}}')">Delete</button>
          </span>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
