<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4" id="placeForAlert">
    </div>
  </div>

  {{#if editBlogTitle}}
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group" id="inputTitleFormGroup">
        <input class="form-control gr-form-control" id="inputTitle" type="text" value="{{title}}"/>
        <button class="btn btn-primary gr-hotkey" onclick="saveBlogTitleChange();" accesskey="a">Accept</button>
        <button class="btn btn-primary gr-hotkey" onclick="cancelBlogTitleChange()" accesskey="c">Cancel</button>
      </div>
    </div>
  </div>

  {{else}}
  <div class="row">
    <div class="col-mid-12 col-lg-12">
      <div class="form-group" id="inputTitleFormGroup">
        <span class="gr-blog-title">{{title}}</span>
        <button class="btn btn-primary" onclick="editBlogTitle();">Edit Name</button>
      </div>
    </div>
  </div>
  {{/if}}

  <button class="btn btn-primary" onclick="addPost();">Add Post</button>
  <table class="table table-hover">
    <tbody>
      {{#each postList}}
      <tr>
        {{#if edit}}
        <td colspan="2">
          <input id="postpostid" type="hidden" value="{{_id}}"/>
          <input id="postdate" type="hidden" value="{{dateString}}"/>
          <input id="postblogid" type="hidden" value="{{blogID}}"/>
          <input id="postdomid" type="hidden" value="{{domID}}"/>
          <div><strong>Edit</strong></div>
          <div><input class="form-control" id="posttitle" type="text" value="{{title}}"/></div>
          <div><textarea class="form-control" id="posttext" rows="5">{{text}}</textarea></div>
          <div>
            <input class="form-control gr-datetime" id="postdateonly" type="date" value="{{dateOnly}}"/>
            <input class="form-control gr-datetime" id="posttimeonly" type="time" value="{{timeOnly}}"/>
          </div>
          <div class="gr-row-buttons">
            <button class="btn btn-primary gr-hotkey" onclick="savePostChanges('{{domID}}');" accesskey="a">Accept</button>
            <button class="btn btn-primary gr-hotkey" onclick="cancelPostChanges('{{domID}}');" accesskey="c">Cancel</button>
          </div>
        </td>

        {{else}}
        <td>
          <div><strong>{{title}}</strong></div>
          <div>{{{encodeText text}}}</div>
          <div>{{dateString}}</div>
        </td>
        <td>
          <span class="gr-row-buttons">
            <button class="btn btn-primary" onclick="editPost('{{domID}}');">Edit</button>
            <button class="btn btn-primary" onclick="deletePost('{{domID}}');">Delete</button>
          </span>
        </td>
        {{/if}}

      {{/each}}
      </tr>
    </tbody>
  </table>
</div>
