<div class="container">
  <h1>Grackle Signup</h1>

  <p><a href="javascript:void(0)" onclick="clickViewLogin();">Already have an account?</a>
  
  <div class="row">
    <div class="col-mid-3 col-lg-3">
      <div class="form-group" id="inputUsernameFormGroup">
        <label class="control-label" for="inputUsername">Username</label>
        <input class="form-control" id="inputUsername" type="text" placeholder="Enter an username"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-mid-3 col-lg-3">
      <div class="form-group" id="inputEmailFormGroup">
        <label class="control-label" for="inputEmail">Email Address</label>
        <input id="inputEmail" type="email" class="form-control" placeholder="Enter your email address"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-mid-3 col-lg-3">
      <div class="form-group" id="inputPasswordFormGroup">
        <label class="control-label" for="inputPassword">Password</label>
        <input id="inputPassword" type="password" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-mid-4 col-lg-4" id="placeForAlert"></div>
  </div>

  <button class="btn btn-primary" onclick="clickSignup();" id="signupButton">Sign Up</button>
</div>
