<style>
html,body {
	height: 100%;
}
#main {
	height: 100%;
}
.gr-no-margin-bottom {
	margin-bottom: 0px;
}
</style>

<div class="container gr-fill-container">

	<div class="gr-fill-parent" id="container">

		{{{theMenu}}}

		{{{tabMenu}}}

		{{{tab}}}

	</div>

</div>