<div class="container">
	<ul class="nav nav-tabs">
		<li role="presentation"{{#if isVisualTab}} class="active"{{/if}}>
			<a href="#visual" onclick="component.Designer.clickVisualTab(); return false;">Visual</a>
		</li>
		<li role="presentation"{{#if isSchemaTab}} class="active"{{/if}}>
			<a href="#schema" onclick="component.Designer.clickSchemaTab(); return false;">Schema</a>
		</li>
	</ul>
</div>