<style>
html,body {
	height: 100%;
}
#main {
	height: 100%;
}
</style>

<div class="container gr-fill-parent">
	{{{theMenu}}}

	<div class="gr-toolbox">

		<div class="gr-toolbox-control" draggable="true" ondragStart="component.Designer.onDragStart(event,'Text');">
			<div class="gr-toolbox-label"><label>Text</label></div>
			<input type="text" class="form-control" disabled />
		</div>

		<div class="gr-toolbox-control" draggable="true" ondragstart="component.Designer.onDragStart(event,'TextArea');">
			<div class="gr-toolbox-label"><label>Text Area</label></div>
			<textarea class="form-control gr-textarea-field" rows="3" cols="20" disabled></textarea>
		</div>

		<div class="gr-toolbox-control" draggable="true" ondragstart="component.Designer.onDragStart(event,'Number');">
			<div class="gr-toolbox-label"><label>Number</label></div>
			<input type="number" class="form-control" disabled />
		</div>

		<div class="gr-toolbox-control" draggable="true" ondragstart="component.Designer.onDragStart(event,'Checkbox');">
			<div class="gr-toolbox-label"><label>Checkbox</label></div>
			<div class="gr-toolbox-text-center"><input type="checkbox" tabindex="-1" onclick="return false;" /></div>
		</div>

		<div class="gr-toolbox-control" draggable="true" ondragstart="component.Designer.onDragStart(event,'List');">
			<div class="gr-toolbox-label"><label>List</label></div>
			<div class="gr-toolbox-text-center"><span class="glyphicon glyphicon-list gr-toolbox-font-large"></span></div>
		</div>

		<div class="gr-toolbox-control" draggable="true" ondragstart="component.Designer.onDragStart(event,'Object');">
			<div class="gr-toolbox-label"><label>Object</label></div>
			<div class="gr-toolbox-text-center"><span class="icon-codepen gr-toolbox-font-large"></span></div>
		</div>

	</div>


	<div class="gr-fill gr-form-help" id="formTarget" ondragover="component.Designer.onDragOver(event);" ondragleave="component.Designer.onDragLeave(event);" ondrop="component.Designer.onDrop(event);">
	</div>

	<div class="gr-designer-footer">
		<label>Drag Point: </label>
		<span id="dragpoint"></span>
	</div>

</div>