{{#unless noContainer}}
<div class="container">
{{/unless}}
  <nav class="navbar navbar-default{{navClass}}">

    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)" onclick="component.Menu.clickBlogList();">ChronoFeed</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" id="navBar">
          <li id="logLink"></li>
          <li id="configLink"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li {{#if isProfile}}class="active"{{/if}}><a href="javascript:void(0)" onclick="component.Menu.clickProfile();" title="profile"><span class="glyphicon glyphicon-user"> Profile<span></a></li>
          <li {{#if isAdmin}}class="active"{{/if}}><a href="javascript:void(0)" onclick="component.Menu.clickAdmin();">Admin</a></li>
          <li><a href="javascript:void(0)" onclick="component.Menu.clickLogout();"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>

    {{{tabs}}}
  
  </nav>
  <div class="row">
    <div class="col-mid-4 col-lg-4" id="menuPlaceForAlert">
    </div>
  </div>
{{#unless noContainer}}
</div>
{{/unless}}