<h1 style="text-align:center;">Note Taker CMS Login</h1>
<div id="message" class="message divcenter"></div>
<table class="tablecenter">
  <tr><td><input id="username" type="text" placeholder="username"/></td></tr>
  <tr><td><input id="password" type="password" placeholder="password" /></td></tr>
  <tr><td><button style="text-align:center; width:100%" onclick="login();">Sign In</button></div></td></tr>
  <tr><td><div style="height:30px"></div></td></tr>
  <tr><td><a href="javascript:void(0)">Signup</a><td></tr>
</table>
