<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-8" id="placeForAlert">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <button class="btn btn-primary" v-on:click="clickAdd();">Add Log</button>
      <table class="table table-hover">
        <tbody v-for="log in logList">
          <tr>
            <td>
              <div class="btn-group" role="group">
                <button class="btn btn-default btn-xs" v-on:click="clickEdit($index);" title="edit">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-xs" v-on:click="clickConfirmDelete($event,$index)" title="delete">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
              <strong>{{log.title}}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="deleteHeader"></div>
      <div class="modal-body">
        Are you sure that you want to delete the log?
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Don't Delete</button>
        <button class="btn btn-primary" data-dismiss="modal" id="deleteButton">Delete</button>
      </div>
    </div>
  </div>
</div>

